.driver-card {
  width: 240px;
  height: 400px;
  // имейте ввиду, что больше 400px будет показано с прокруткой
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  background: transparent !important;
  margin: 0 !important;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
  border: none !important;
}
